<h1 style="color: #5e9ca0;">Apache Webserver</h1>
<h2 style="clear: both;"><img style="display: block; margin-left: auto; margin-right: auto;" src=" https://www.redhat.com/profiles/rh/themes/redhatdotcom/img/red-hat-social-share.jpg" alt="html cleaner" width="80%" /></h2>
<h1 style="text-align: center;">{{ demo_hostname }}</h1>
